.zx_lst th input { padding:0; margin:0; }
.zx_lst td input { padding:0; margin:5px; }
.zx_lst { border:1px solid #d3d3d3; width:100%; margin:20px 0; clear: both; }
.zx_lst td, .zx_lst th { padding:2px 5px; vertical-align:middle; border:1px solid #d3d3d3; }
.zx_lst thead { background: #e3ecf7; }
.zx_fnd { border:none; width:49%; float:left; margin:20px 0; }
.zx_fnd th { background-color: #eef; }
.zx_lst td + td { text-align: center; }
.zx_lst td + td + td { text-align: left; }
.zx_fnd input { width:98%; }
.zx_add { width:49%; float:right; margin:20px 0; text-align:center; }
.zx_add input { margin:20px; }
.zx_pgs a { font-weight: bold; border:1px solid #d3d3d3; text-decoration:none; }
.zx_pgs a:hover { background: #e3ecf7; }

.zx_frm { border:1px ridge #add8e6; }
.zx_frm table { width:100%; }
.zx_frm th { width:30%; text-align: right; padding:0 5px; }
.zx_frb th { text-align: center; padding:5px; }
.zx_frm td input,.zx_frm td select { width:100%; border: none; background: #f5deb3; }
.zx_frm textarea { width:98%; height: 300px;  }
.zx_frm label { display:block; }
.zx_frm label input { width:15px; }

.zx_err { border:1px solid red; width:100%; margin:20px 0; }
.zx_err thead { background: orange; text-align:center; font-weight:bold; }
.zx_err tbody { background: yellow; text-align:left; }
.zx_err td + td { width:60%; }

.zx_wrn { border:1px solid red; width:100%; margin:20px 0; }
.zx_wrn thead { background: orange; text-align:center; font-weight:bold; }
.zx_wrn tbody { background: yellow; text-align:left; }
.zx_wrn td + td { width:60%; }

.zx_bul { width:15px ! important; }

img { border:none; }
